<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Weekend Warrier</title>
</head>

<body>
  <ul>
    <% for (let i=0; i<fruits.length; i++) {%>
      <li>
        Hey! It's a <%= fruits[i] %>
      </li>
      <% } %>
  </ul>
</body>

</html>